@mixin font($f, $s, $w, $size, $c) {
  font-family: $f;
  font-style: $s;
  font-weight: $w;
  font-size: $size;
  color: $c;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  .wrapper {
    display: flex;
    height: 70px;
    overflow: hidden;
    // position: absolute;
    div {
      p {
        font-size: 70px;
        margin: 0%;
        line-height: 1;
        @include font("Fraunces", serif, 400, 70px, rgb(255, 255, 255));
      }
      .num {
        // position: absolute;
      }
    }
  }
  .name{
    position: absolute;
    bottom: 58px;
    left: 56px;
    p{
      @include font("Noto Sans Chakma", serif, 400, 30px, rgb(255, 255, 255));
      margin: 0%;
      line-height: 0.9;
      text-transform: uppercase;
      letter-spacing: -2px;
    }
  }
}


.img_container{
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: none;
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: black;
  }
  .img_one{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .img_two{
    width: 100%;
    height: 100%;
    bottom: 0;
    transform: translateY(100%);
    position: absolute;
  }
}

@media (max-width:500px) {
  .container .name{
    bottom: 5px;
    p{
      font-size: 20px;
    }
  }
}