@mixin font($f, $s, $w, $size, $c) {
  font-family: $f;
  font-style: $s;
  font-weight: $w;
  font-size: $size;
  color: $c;
}

.profile_page {
  background-color: rgba(245, 245, 245, 0.681);
  min-height: 100vh;

  .page_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home_nav {
      display: flex;
      justify-content: space-between;
      padding: 30px 30px 0px;
      width: 100%;
      .nav_text {
        text-transform: uppercase;
        @include font("Noto Sans Chakma", none, 600, 14px, rgb(0, 0, 0));
        cursor: pointer;
      }
    }
    .hero_image {
      width: 95%;
      height: 85vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      overflow: hidden;
      // margin-bottom: 50px;
      img {
        width: 100%;

      }
      .hero_title {
        @include font("Fraunces", serif, 500, 88px, rgb(145, 141, 141));
        position: absolute;
        transform: translateY(-50%);
        margin: 0%;
      }
    }
    .text_scroll {
     overflow: hidden;
      .text_item{
        width: 300%;
        // margin-top: 170px;
        @include font("'Hanken Grotesk", sans-serif, 100, 120px, rgb(0, 0, 0));
        overflow: hidden;
        text-transform: capitalize;
        span {
          @include font("Fraunces", italic, 400, 100px, rgb(0, 0, 0));
        }
      }
    }
    .extra{
        height: 100vh;
    }
  }
}

@media (max-width: 800px) {

  .profile_page .page_container .text_scroll .text_item{
    font-size: 50px;
    width: 250%;
    span{
    font-size: 50px;
    }
  }
  .profile_page .page_container .hero_image{
    width: 100%;
    margin-top: 50px;
  }
  .profile_page .page_container .hero_image .hero_title{
    font-size: 40px;
  }
}


@media (max-width: 500px) {

  .profile_page .page_container .text_scroll .text_item{
    font-size: 50px;
    width: 350%;
    span{
    font-size: 50px;
    }
  }

}

