@mixin font($f, $s, $w, $size, $c) {
  font-family: $f;
  font-style: $s;
  font-weight: $w;
  font-size: $size;
  color: $c;
}

.profile_page {
  background-color: rgba(245, 245, 245, 0.681);
  min-height: 100vh;

  .page_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home_nav {
      display: flex;
      justify-content: space-between;
      padding: 48px 48px 0px;
      width: 100%;
      .nav_text {
        text-transform: uppercase;
        @include font("Noto Sans Chakma", none, 600, 14px, rgb(0, 0, 0));
        cursor: pointer;
      }
    }
    .hero_image {
      width: 95%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      overflow: hidden;
      // margin-bottom: 50px;
      img {
        width: 100%;
      }
      .hero_title {
        @include font("Fraunces", serif, 500, 88px, rgb(0, 0, 0));
        position: absolute;
        transform: translateY(-50%);
        margin: 0%;
      }
    }
    .text_scroll {
      overflow: hidden;
      .text_item {
        width: 400%;
        // margin-top: 170px;
        @include font("'Hanken Grotesk", sans-serif, 100, 120px, rgb(0, 0, 0));
        overflow: hidden;
        text-transform: capitalize;
        span {
          @include font("Fraunces", italic, 400, 100px, rgb(0, 0, 0));
        }
      }
    }
    .profile_intro {
      display: flex;
      justify-content: center;
      padding: 0px 40px;
      margin: 0px auto 120px;
      width: 100%;
      .intro_image_container {
        width: 100%;
        max-width: 550px;
        height: 550px;
        margin-right: 40px;
        overflow: hidden;
        .intro_image {
          width: 100%;
        }
      }
      .intro_text_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 28px;
        max-width: 460px;
        height: 550px;
        .text_one {
          .text_title {
            @include font("Fraunces", none, 600, 36px, rgb(0, 0, 0));
            max-width: 400px;
          }
          p {
            @include font(
              "Noto Sans Chakma",
              none,
              400,
              15px,
              rgba(0, 0, 0, 0.634)
            );
          }
        }
      }
    }
    .award_container {
      width: 100%;
      height: 500px;
      overflow: hidden;
      margin-bottom: 100px;
      position: relative;
      img {
        width: 100%;
        filter: brightness(0.6);
      }
      p {
        position: absolute;
        bottom: 20px;
        right: 66px;
        margin: 0;
        @include font(
          "Noto Sans Chakma",
          none,
          500,
          17px,
          rgba(255, 255, 255, 0.634)
        );
      }
    }
    .inspiration {
      display: flex;
      justify-content: center;
      padding: 0px 40px;
      margin: 0px auto 120px;
      width: 100%;
      .inspiration_text {
        width: 100%;
        max-width: 640px;
        // height: 550px;
        margin: 0%;
        margin-right: 40px;
        @include font("Fraunces", none, 600, 30px, rgb(0, 0, 0));
      }
      .inspiration_story {
        margin: 0%;
        width: 100%;
        max-width: 340px;
        // height: 550px;
        margin-left: auto;
        @include font(
          "Noto Sans Chakma",
          none,
          500,
          12px,
          rgba(0, 0, 0, 0.634)
        );
      }
    }

    .work_container {
      margin-bottom: 100px;
      .mobile {
        flex-direction: column;
      }
      .work {
        height: 500px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        transform: translateX(45%);

        .box_one {
          height: 100%;
          width: 100vw;
          display: flex;
          justify-content: space-between;
          padding: 0px 90px;
          .box_one_image {
            width: 500px;
            height: 500px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
              width: 90%;
              height: 90%;
              border-radius: 50%;
            }
            p {
              // height: 550px;
              @include font(
                "Noto Sans Chakma",
                none,
                500,
                15px,
                rgba(0, 0, 0, 0.634)
              );
            }
          }
          .box_one_text {
            display: flex;
            flex-direction: column;
            .work_start {
              @include font("Fraunces", none, 500, 130px, rgb(0, 0, 0));
              margin: 0;
              margin-bottom: 50px;
            }
            .work_center {
              max-width: 250px;
              @include font(
                "Noto Sans Chakma",
                none,
                500,
                13px,
                rgba(0, 0, 0, 0.634)
              );
              margin-left: auto;
              margin-bottom: 30px;
            }
            .work_end {
              display: flex;
              align-items: center;
              @include font(
                "Noto Sans Chakma",
                none,
                500,
                13px,
                rgba(0, 0, 0, 0.634)
              );
              max-width: 350px;
              margin-left: auto;
              button {
                width: 95px;
                height: 75px;
                border-radius: 50%;
                border: 1px solid rgba(0, 0, 0, 0.455);
                background-color: rgba(245, 245, 245, 0.681);
                display: flex;
                align-items: center;
                justify-content: center;
                @include font(
                  "Noto Sans Chakma",
                  none,
                  200,
                  12px,
                  rgba(0, 0, 0, 0.743)
                );
                text-transform: uppercase;
                cursor: pointer;
                margin-right: 45px;
              }
            }
          }
        }
        .work_list {
          p {
            @include font("Fondamento", none, 600, 40px, rgba(0, 0, 0, 0.743));
            margin-left: 40px;
          }
        }
        .category {
          height: 100%;
          // width: 100vw;
          display: flex;
          justify-content: space-between;
          padding: 0px 90px;
          .category_title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 100px;
            p {
              @include font("Fraunces", none, 500, 130px, rgb(0, 0, 0));
              margin: 0%;
            }
            img {
              margin-left: 150px;
            }
          }
          .category_images {
            display: flex;
            height: 100%;
            div {
              height: 100%;
              margin: 0px 20px;
              overflow: hidden;
              .category_pics {
                width: 100%;
              }
            }
            .sm {
              width: 400px;
            }
            .md {
              width: 500px;
            }
            .lg {
              width: 600px;
            }
          }
        }
      }
    }
    .footer {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-evenly;
      margin: 200px 0px;

      button {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.455);
        background-color: rgba(245, 245, 245, 0.681);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include font(
          "Noto Sans Chakma",
          none,
          200,
          12px,
          rgba(0, 0, 0, 0.743)
        );
      }
        p {
          @include font("Fraunces", none, 500, 150px, rgb(0, 0, 0));
          margin: 0%;
          span {
            font-style: italic;
          }
      }
    }
  }
}

@media (max-width: 800px) {
  .profile_page .page_container .text_scroll .text_item {
    font-size: 50px;
    width: 250%;
    span {
      font-size: 50px;
    }
  }
  .profile_page .page_container .hero_image {
    width: 100%;
    margin-top: 20px;
  }
  .profile_page .page_container .hero_image .hero_title {
    font-size: 40px;
  }
  .profile_page .page_container {
    padding: 0px 0px 0px;
  }
  .profile_page .page_container .home_nav {
    padding: 28px 28px;
  }
  .profile_page .page_container .profile_intro {
    flex-direction: column;
    margin: 0px 0px 0px;
    padding: 0px 20px;
  }
  .profile_page .page_container .profile_intro .intro_image_container {
    margin-right: 0px;
    max-width: none;
    height: 550px;
  }
  .profile_page .page_container .profile_intro .intro_text_container {
    max-width: none;
    justify-content: flex-start;
    padding: 0px;
    height: 420px;
  }
  .profile_page
    .page_container
    .profile_intro
    .intro_text_container
    .text_one
    p {
    font-size: 12px;
  }

  .profile_page
    .page_container
    .profile_intro
    .intro_text_container
    .text_one
    .text_title {
    font-size: 26px;
  }
  .profile_page .page_container .award_container p {
    display: none;
  }
  .profile_page .page_container .inspiration {
    flex-direction: column;
    padding: 0px 10px;
  }
  .profile_page .page_container .inspiration .inspiration_text {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .profile_page .page_container .award_container {
    height: 250px;
    margin-bottom: 20px;
  }

  .profile_page .page_container .work_container .work {
    transform: translateX(0px);
  }
  .profile_page .page_container .work_container .work {
    height: auto;
  }
  .profile_page .page_container .work_container .work .box_one {
    flex-direction: column;
    padding: 0px 10px;
  }
  .profile_page .page_container .work_container .work .box_one .box_one_image {
    width: 350px;
    height: 350px;
  }
  .profile_page .page_container .footer p {
    font-size: 50px;
  }
  .profile_page .page_container .footer {
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .profile_page .page_container .text_scroll .text_item {
    font-size: 50px;
    width: 350%;
    span {
      font-size: 50px;
    }
  }
}
