@mixin font($f, $s, $w, $size, $c) {
  font-family: $f;
  font-style: $s;
  font-weight: $w;
  font-size: $size;
  color: $c;
}

.home_page {
  background-color: rgba(245, 245, 245, 0.681);
  min-height: 100vh;

  .page_container {
    padding: 30px 30px 0px;
    
    .home_nav {
      display: flex;
      justify-content: space-between;
      .nav_text {
        text-transform: uppercase;
        @include font("Noto Sans Chakma", none, 600, 14px, rgb(0, 0, 0));
        cursor: pointer;
      }
    }
    .page_body {
      margin-top: 60px;
      cursor: context-menu;
      display: flex;
      justify-content: space-between;
      .left {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        height: 80vh;
        // width: 50%;
        .btn_container {
          margin-left: 40px;
          position: fixed;
          bottom: 8px;
          left: -5px;
          z-index: 10;
          button {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.455);
            background-color: rgba(245, 245, 245, 0.681);
            @include font("Noto Sans Chakma", none, 200, 12px, rgb(0, 0, 0));
            text-transform: uppercase;
            cursor: pointer;
          }
        }
        .hero_image {
          display: flex;
          justify-content: space-around;
          //   height: 70%;
          width: 100%;
          .image_wrapper {
            overflow: hidden;
            width: 150px;
            height: 150px;
            .image {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              filter: grayscale(4);
              background-image: url(./../../component/assets/images/tobi1.JPG);
              background-size: cover;
              background-position: 50% 50%;
            }
          }
          .image_text {
            margin-left: 20px;
            margin-bottom: 20px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            div {
              overflow: hidden;
              // width: 50%;
            }
            .text_one {
              @include font("Fondamento", cursive, 500, 1.5vw, rgb(0, 0, 0));
              margin-bottom: 0%;
              margin-top: 20px;
              line-height: 1;
            }
            .text_two {
              @include font(
                "Noto Sans Chakma",
                none,
                300,
                12px,
                rgba(0, 0, 0, 0.674)
              );
              margin-bottom: 0%;
              margin-top: 20px;
              line-height: 1;
              word-wrap: break-word;
            }
          }
        }
        .description_container {
          position: absolute;
          top: 60%;
          left: 30%;
          transform: translate(-50%, -50%);
          .description_one {
            overflow: hidden;

            padding-top: 10px;
            .description {
              @include font("Fraunces", sans-serif, 200, 3vw, rgb(0, 0, 0));
              text-transform: uppercase;
              margin: 0%;
              // position: absolute;
              // top: 60%;
              // left: 30%;
              // transform: translate(-50%, -50%);
              z-index: 10;
              line-height: 1;
            }
          }
        }
        .image_description {
          position: absolute;
          top: 90%;
          left: 40%;
          transform: translate(-50%, -50%);
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          .image_description_wrapper {
            display: flex;
            justify-content: flex-end;
            .image_description_text {
              @include font(
                "Noto Sans Chakma",
                none,
                200,
                11px,
                rgba(0, 0, 0, 0.687)
              );
              word-wrap: break-word;
              width: 40%;
              margin-right: 10px;
            }
            .image_description_image_container {
              width: 70px;
              height: 70px;
              overflow: none;
              .image_description_image {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
      .profile_demo {
        display: flex;
        justify-content: center;
        width: 50%;
        .image_wrapper {
          width: 100%;
          overflow: hidden;
          display: flex;
          justify-content: flex-end;
          .image {
            width: 80%;
          }
        }
        .circle_text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .home_page .page_container .page_body {
    flex-direction: column;
  }
  .home_page .page_container .page_body .left .hero_image {
    justify-content: space-between;
  }
  // .home_page .page_container .page_body .left .hero_image .image_wrapper {
  //   width: 25vw;
  //   height: 25vw;
  // }
  .home_page
    .page_container
    .page_body
    .left
    .hero_image
    .image_text
    .text_one {
    font-size: 4vw;
  }
  .home_page .page_container .page_body .left .description_container {
    left: 55%;
    width: 100%;
  }
  .home_page
    .page_container
    .page_body
    .left
    .description_container
    .description_one
    .description {
    font-size: 8vw;
  }
  .home_page .page_container .page_body .left .image_description {
    // left: 60%;
    width: 100%;
  }
  .home_page .page_container .page_body .profile_demo{
    width: 100%;
  }

}
