@mixin font($f, $s, $w, $size, $c) {
    font-family: $f;
    font-style: $s;
    font-weight: $w;
    font-size: $size;
    color: $c;
  }
  

.exit{
    width: 100%;
    height: 0vh;
    z-index: 30;
    position: absolute;
    bottom:0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper{
        position: relative;
        overflow: hidden;
        .text{
            opacity: 0;
            line-height: 1;
            @include font("Syncopate", italic, 600, 44px, rgb(255, 255, 255));
            }
    }
}